body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url("./imgs/night.avif");
    height: 7000px;
}


.Solar-System {
    font-size: 16px;
    width: 40em;
    height: 40em;
    position: relative;
}

.name {
    color: white;
}

/* A pseudo-3d effect needs to be made but with 2D objects */

/* Needs to be the Largest Celestial Object in the solar system */
.sun {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 15em;
    left: 15em;
    border-radius: 50%;
    box-shadow: 8  0 3em rgb(255, 128, 0);
    animation: orbit 5000s linear infinite;
}

.mercury, .venus, .earth, .moon, 
.mars, .jupiter, .saturn, .uranus, .neptune{
    position: absolute;
    border: solid white transparent transparent transparent;
    border-radius: 0.1em 0.1em 0 0;
    border-radius: 50%;
}

.mercury {
    top: 12.5em;
    left: 12.5em;
    width: 15em;
    height: 20em;
    animation: orbit 87.97s linear infinite;
}

.venus {
    top: 10em;
    left: 10em;
    width: 20em;
    height: 20em;
    animation: orbit 224.70s linear infinite;
}

.earth {
    top: 0em;
    left: 0em;
    width: 28em;
    height: 28em;
    animation: orbit 354.26s linear infinite;
}

/* Elipsical orbit is made */
.moon {
    top: 2em;
    right: 2em;
    width: -15em;
    height: -15em;
    animation: orbit 10s linear infinite;
}

.mars {
    top: -1em;
    left: -1em;
    width: 36em;
    height: 7em;
    animation: orbit 686.98s linear infinite;
}

.jupiter {
    top: -2em;
    left: -2em;
    width: 45em;
    height: 45em;
    animation: orbit 3000s linear infinite;
}

.saturn {
    top: -7em;
    left: -7em;
    width: 55em;
    height: 55em;
    animation: orbit 6000s linear infinite;
}

.uranus {
    top: -12em;
    left: -12em;
    width: 65em;
    height: 65em;
    animation: orbit 12000s linear infinite;
}

.neptune {
    top: -17em;
    left: -17em;
    width: 75em;
    height: 75em;
    animation: orbit 24000s linear infinite;
}

.mercury::before, .venus::before, .earth::before, .moon::before, .mars::before, .jupiter::before, .saturn::before, .uranus::before, .neptune::before {
    content: '';
    position: absolute;
    border-radius: 50%;
    animation: orbit 50s linear infinite;
}

.mercury::before {
    top: 1.5em;
    right: 0.8em;
    width: 2em;
    height: 2em;
    background-image: url('./solarsystem/mercury.png');
    background-size: cover;
}

.venus::before {
    top: 2em;
    right: 2em;
    width: 2em;
    height: 2em;
    background-image: url('./solarsystem/venus.png');
    background-size: cover;
}

.earth::before {
    top: 3em;
    right: 0em;
    width: 3.7em;
    height: 3.7em;
    background-image: url('./solarsystem/earth.png');
    background-size: cover;
}

.moon::before {
    top: 0.8em;
    right: 4.5em;
    width: 1em;
    height: 1em;
    background-image: url('./solarsystem/moon.png');
    background-size: cover;
}

.mars::before {
    top: 5em;
    right: 0em;
    width: 3em;
    height: 3em;
    background-image: url('./solarsystem/mars.png');
    background-size: cover;
}

.jupiter::before {
    top: 6em;
    right: -2em;
    width: 6em;
    height: 6em;
    background-image: url('./solarsystem/jupiter.png');
    background-size: cover;
}

.saturn::before {
    top: 6em;
    right: -6em;
    width: 10em;
    height: 4em;
    background-image: url('./solarsystem/saturn.png');
    background-size: cover;
}

.uranus::before {
    top: 6em;
    right: -3em;
    width: 4em;
    height: 4em;
    background-image: url('./solarsystem/uranus.png');
    background-size: cover;
}

.neptune::before {
    top: 6em;
    right: -3em;
    width: 6em;
    height: 4.5em;
    background-image: url('./solarsystem/neptune.png');
    background-size: cover;
}

@keyframes orbit{
    to{
        transform: rotate(360deg);
    }
}
